html,
body,
.container {
    margin: 0%;
    padding: 0%;
    height: 100%;
    width: 100%;
}

h1,
li,
a,
ul,
header,
section,
.left-pic,
.right-con,
footer {
    margin: 0%;
    padding: 0%;
}

.container {
    display: flex;
    flex-direction: column;
}

.header {
    flex: 10%;
    /* border-bottom: 1px solid brown; */
    background-image: url("../images/pp.jpg");
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.header ul li {
    border: 2px solid red;
    border-radius: 25px;
    display: inline;
    background-color: salmon;
    padding: 10px;
    margin: 10px;
}

.header ul li a {
    text-decoration: none;
}

.header ul li :hover {
    background-color: greenyellow;
    color: royalblue;
}

.section {
    flex: 80%;
    /* border-bottom: 1px solid brown; */
    display: flex;
    flex-direction: row;
}

.left-pic,
.right-con {
    flex: 1;
    /* border: 1px solid brown; */
    overflow: auto;
    /* margin: 5px; */
    /* padding: 5px; */
}

.left-pic {
    background-image: url("../images/oo.jpg"), url("../images/vaishali.jpg");
    /* border: 1px solid palevioletred; */
}

.right-con {
    /* background-color: pink; */
    background-image: url(" ../images/oo.jpg");
}

.footer {
    flex: 10%;
    border-bottom: 1px solid brown;
    background-image: url("../images/pp.jpg"), url("../images/bb.jpg");
    background-color: url()
}